.profile {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.profile-content {
  display: flex;
  align-items: center;
}

.profile-picture {
  flex: 0 0 auto;
  margin-right: 20px;
}

.profile-details {
  flex: 1 1 auto;
}

.profile-details h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.profile-details p {
  margin: 5px 0;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff; /* Optional: Add a border around the image */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}